# Telegram Bot Token (BotFather'dan alınır)
TG_BOT_TOKEN="YOUR_TELEGRAM_BOT_TOKEN"

# Telegram Sohbet ID (Botunuzla konuşarak öğrenebilirsiniz)
TG_CHAT_ID="YOUR_TELEGRAM_CHAT_ID"

# TradingView Kullanıcı Adı (Opsiyonel, giriş yapmak için)
TV_USERNAME="YOUR_TRADINGVIEW_USERNAME"

# TradingView Şifre (Opsiyonel, giriş yapmak için)
TV_PASSWORD="YOUR_TRADINGVIEW_PASSWORD"

# TradingView Kayıtlı Grafik ID (Opsiyonel, belirli bir şablonu kullanmak için)
TV_CHART_ID="YOUR_TRADINGVIEW_CHART_ID"

# Log seviyesi (DEBUG, INFO, WARNING, ERROR, CRITICAL)
LOG_LEVEL="INFO"
